


 .welcome {
  font-family:'Courier','Courier New','Times New Roman';
  color:#ffffff;
  background-image:
   url("Space.jpeg");
  padding:250px 0 250px 0;  
  margin:30px;
  background-size:cover;

 }

.grid {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
   "welcome"
   "video"
   "posts"
   "footer";
  grid-gap:10px;
}
.video{
  text-align:center;
}

 
.welcome{
 grid-area:welcome;
 background-color:red;
 }
 
.video{
  grid-area:video;
  background-color:white;
 }
 
.posts{
  grid-area:posts;
  background-color:#ff00ff;
 }
 
.footer{
  grid-area:footer;
  background-color:green;
 }

.nav{
 display:flex;
 flex-wrap:wrap;
}
