body{
 background-image:
  url("headerback.jpeg");
 background-size:cover;
}


h3{
 color:red;
}

 .welcome1{
  font-family:'Courier','Courier New','Times New Roman';
  color:#ffffff;
  background-image:
   url("Space.jpeg");
  padding:250px 0;
  justify-self:center;
  margin:30px
  background-size:cover;
 }
